# Dependency and cache folders
node_modules
vendor

# Build output
android/build
android/build/**
android/**/build
android/**/build/**
android/.gradle
android/.gradle/**
android/**/.gradle
android/**/.gradle/**
android/.cxx
android/.cxx/**
android/**/.cxx
android/**/.cxx/**
ios/build
ios/build/**
ios/**/build
ios/**/build/**
ios/Pods
ios/Pods/**
ios/**/Pods
ios/**/Pods/**

# VCS and editor files
.git
.github
.vscode

# Local env files
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Tests and coverage
__tests__
coverage
